In [18]:
import pandas as pd

In [19]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [20]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [16]:
for i in high_school_types:
    print(i)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [21]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [22]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [23]:
for i in school_series:
    print(i)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [25]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [32]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

schools_df["School ID"] = school_id

schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [34]:
schools_df["School Name"] = school_name

schools_df["Type"] = type_of_school

schools_df

   School ID            School Name Type of School      Type
0          0      Huang High School       District  District
1          1   Figueroa High School       District  District
2          2    Shelton High School        Charter   Charter
3          3  Hernandez High School       District  District
4          4    Griffin High School        Charter   Charter

In [36]:
# Create a dictionary of information on high schools.
high_school_dict = {'School ID' : school_id, 'School Name' : school_name, "Type" : type_of_school}

high_school_dict

{'School ID': [0, 1, 2, 3, 4],
 'School Name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'Type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [52]:
high_school_df = pd.DataFrame()

high_school_df["High Schools"] = high_school_dict

high_school_df

            High Schools
School ID      School ID
School Name  School Name
Type                Type

In [56]:
schools_df.values

array([[0, 'Huang High School', 'District', 'District'],
       [1, 'Figueroa High School', 'District', 'District'],
       [2, 'Shelton High School', 'Charter', 'Charter'],
       [3, 'Hernandez High School', 'District', 'District'],
       [4, 'Griffin High School', 'Charter', 'Charter']], dtype=object)

In [72]:
school_series_df = pd.DataFrame

In [78]:

school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [74]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]